.js-item-country {
  display: flex;
  align-items: baseline;
  padding: 2px 10px;
  background-color: #d1cdc2;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 400px;
}

// .js-img-country {
// }
// .country-list {
// }
